
/*Style for p elements, show them as clickable and in a different color*/

p {
  color:orange;
  font-display: bold;
  display:table-caption;
}

p:hover {
  color:red;
}

p:active{
  color:blue;
}

p{
  cursor:pointer
 }





